.Board {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 85px 10% 70px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background: #57426c;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/onboard_assets/hearts_bg.svg");
  border: solid 6px #d95988;
  box-sizing: border-box;
}

.right-koloda {
  position: fixed;
  right: 10px;
  top: 50%;
  margin-top: -100px;
  width: 5%;
}

.right-koloda img {
  width: 90%;
}

.inHand {
  opacity: 0;
  transition: 5s ease-in-out;
}

.game-id {
  position: absolute;
  left: 10px;
  top: 10px;
  color: #f2f2f2;
  opacity: 0.75;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 33px;
}

@keyframes myFirstCard {
  0% {
    opacity: 0;
    right: 10px;
    bottom: 30%;
    transform: rotate(0deg);
  }
  70% {
    opacity: 1;
    right: 32%;
    bottom: 13px;
    transform: rotate(352deg);
  }
  100% {
    opacity: 0;
    right: 32%;
    bottom: 13px;
    transform: rotateY(90deg);
  }
}

.myCard {
  position: absolute;
  z-index: -1;
  opacity: 0;
  width: 15%;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes myCard {
  0% {
    opacity: 0;
    right: 10px;
    bottom: 30%;
    transform: rotate(0deg);
  }
  70% {
    opacity: 1;
    right: 15%;
    bottom: 13px;
    transform: rotate(365deg);
  }
  100% {
    opacity: 0;
    right: 15%;
    bottom: 13px;
    transform: rotateY(90deg);
  }
}

.newCard {
  opacity: 0;
  transition: 5s ease-in-out;
}

.player {
  position: absolute;
  width: 20%;
  opacity: 0;
  transition: 2s ease-in-out;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes playerOne {
  0% {
    opacity: 0;
    right: 10px;
    bottom: 30%;
    width: 20%;
    transform: rotate(0deg);
  }
  90% {
    opacity: 1;
    width: 3%;
    right: 72%;
    bottom: 80%;
    transform: rotate(300deg);
  }

  100% {
    opacity: 0;
    width: 1%;
    right: 72%;
    bottom: 80%;
    transform: rotate(380deg);
  }
}

@keyframes playerTwo {
  0% {
    opacity: 0;
    right: 10px;
    bottom: 30%;
    width: 20%;
    transform: rotate(0deg);
  }
  90% {
    opacity: 1;
    width: 3%;
    right: 50%;
    bottom: 80%;
    transform: rotate(300deg);
  }

  100% {
    opacity: 0;
    width: 1%;
    right: 50%;
    bottom: 80%;
    transform: rotate(380deg);
  }
}

@keyframes playerThree {
  0% {
    opacity: 0;
    right: 10px;
    bottom: 30%;
    width: 20%;
    transform: rotate(0deg);
  }
  90% {
    opacity: 1;
    width: 3%;
    right: 24%;
    bottom: 80%;
    transform: rotate(300deg);
  }

  100% {
    opacity: 0;
    width: 1%;
    right: 25%;
    bottom: 80%;
    transform: rotate(380deg);
  }
}

.Modal {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -250px;
  margin-left: -140px;
  width: 340px;
  height: 500px;
  border-radius: 20px;
  background: #d95988;
  text-align: center;
  color: #f2f2f2;
  outline: none;
  animation: animatezoom 0.6s;
  z-index: 10;
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.Modal-close {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -250px;
  margin-left: -140px;
  width: 340px;
  height: 500px;
  border-radius: 20px;
  background: #d95988;
  text-align: center;
  color: #f2f2f2;
  outline: none;
  animation: animatezoomop 0.6s;
  z-index: 10;
}

@keyframes animatezoomop {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

.modal-text-top {
  position: absolute;
  width: 70%;
  height: 50px;
  left: 50%;
  margin-left: -35%;
  top: -25px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  background-color: #342642;
}

.modal-text-top h3 {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-style: normal;
  font-size: 13px;
  line-height: 24px;
  text-align: center;
}

.modal-cards {
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.modal-cards img {
  width: 90px;
  margin: 5px;
}

.modal-text-bottom {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-style: normal;
  text-align: center;
  color: #ffffff;
  font-weight: normal;
  font-size: 15px;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: radial-gradient(
    rgba(85, 60, 113, 1),
    rgba(53, 39, 68, 0.9)
  );
  z-index: 10;
}

.modal-btn {
  position: fixed;
  right: 15px;
  top: 50%;
  margin-top: 150px;
  padding: 5px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: solid 4px #b3355f;
  background-color: #d95988;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

.modal-btn img {
  width: 35px;
}

.modal-btn:hover {
  background-color: #b3355f;
}

.ModalImage {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -250px;
  margin-left: -140px;
  width: 340px;
  height: 467px;
  border-radius: 45px;
  background: #d95988;
  text-align: center;
  color: #f2f2f2;
  outline: none;
  animation: animatezoom 0.6s;
  z-index: 10;
}

.ModalImage-close {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -250px;
  margin-left: -140px;
  width: 340px;
  height: 467px;
  border-radius: 45px;
  background: #d95988;
  text-align: center;
  color: #f2f2f2;
  outline: none;
  animation: animatezoomop 0.6s;
  z-index: 10;
}

.modal-cards img:hover {
  transform:scale(1.1) !important;
  box-shadow: 0px 0px 3px 5px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
}

.btn-close-card {
  width: 55px;
  height: 55px;
  border-radius: 60px;
  border: solid 5px #b3355f;
  background-color: #d95988;
  box-sizing: border-box;
  color: #fff;
  position: absolute;
  right: -5%;
  top: -5%;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

.btn-close-card:hover {
  background-color: #b3355f;
}

.casePriest{
  position: absolute;
  width: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-80%,-30%);
  opacity: 0;
  transition: 2s ease-in-out;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 1;
}

@keyframes showCard {
  0% {
    opacity: 0;
    width: 10px;

  }
  50% {
    opacity: 0,5;
    width: 200px;
  }

  100%{
    opacity: 1;
    width: 260px;
  }
}
