.Board {
  position: absolute;
  width: 100vw;
  height: 100vh;
  padding: 85px 10% 70px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: #57426C;
  background-image: url("../images/onboard_assets/hearts_bg.svg");
}
.right-koloda {
  position: fixed;
  right: 10px;
  top: 50%;
  margin-top: -125px;
  width: 5%;
}

.right-koloda img {
  width: 100%;
}