.Board {
  position: absolute;
  width: 100vw;
  height: 100vh;
  padding: 85px 10% 70px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background: #57426c;
  background-image: url("../images/onboard_assets/hearts_bg.svg");
}
.right-koloda {
  position: fixed;
  right: 10px;
  top: 50%;
  margin-top: -125px;
  width: 5%;
}

.right-koloda img {
  width: 100%;
}

.inHand {
  opacity: 0;
  transition: 5s ease-in-out;
}

@keyframes myFirstCard {
  0% {
    opacity: 0;
    right: 10px;
    bottom: 30%;
    transform: rotate(0deg);
  }
  70% {
    opacity: 1;
    right: 32%;
    bottom: 13px;
    transform: rotate(352deg);
  }
  100%{
    opacity: 0;
    right: 32%;
    bottom: 13px;
    transform: rotateY(90deg);
  }
}

.myCard {
  position: absolute;
  z-index: -1;
  opacity: 0;
  width: 15%;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes myCard {
  0% {
    opacity: 0;
    right: 10px;
    bottom: 30%;
    transform: rotate(0deg);
  }
  70% {
    opacity: 1;
    right: 15%;
    bottom: 13px;
    transform: rotate(365deg);
  }
  100%{
    opacity: 0;
    right: 15%;
    bottom: 13px;
    transform: rotateY(90deg);
  }
}

.newCard {
  opacity: 0;
  transition: 5s ease-in-out;
}

.player {
  position: absolute;
  width: 20%;
  opacity: 0;
  transition: 2s ease-in-out;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes playerOne {
  0% {
    opacity: 0;
    right: 10px;
    bottom: 30%;
    width: 20%;
    transform: rotate(0deg);
  }
  90% {
    opacity: 1;
    width: 3%;
    right: 72%;
    bottom: 80%;
    transform: rotate(300deg);
  }

  100%{
    opacity: 0;
    width: 1%;
    right: 72%;
    bottom: 80%;
    transform: rotate(380deg);
  }
}

@keyframes playerTwo {
  0% {
    opacity: 0;
    right: 10px;
    bottom: 30%;
    width: 20%;
    transform: rotate(0deg);
  }
  90% {
    opacity: 1;
    width: 3%;
    right: 50%;
    bottom: 80%;
    transform: rotate(300deg);
  }

  100%{
    opacity: 0;
    width: 1%;
    right: 50%;
    bottom: 80%;
    transform: rotate(380deg);
  }
}


@keyframes playerThree {
  0% {
    opacity: 0;
    right: 10px;
    bottom: 30%;
    width: 20%;
    transform: rotate(0deg);
  }
  90% {
    opacity: 1;
    width: 3%;
    right: 24%;
    bottom: 80%;
    transform: rotate(300deg);
  }

  100%{
    opacity: 0;
    width: 1%;
    right: 25%;
    bottom: 80%;
    transform: rotate(380deg);
  }
}

