.right_vector {
    width: 18%;
    position: absolute;
    right: 17%;
    bottom: 10%;
}

.btn-return {
    width: 70px;
    height: 70px;
    border-radius: 60px;
    border: solid 0px #b3355f;
    background-color: #d95988;
    color: #fff;
    position: absolute;
    right: 10%;
    top: 4%;
}