* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background-color: #342642;
}

.purple-vector {
  width: 100%;
  position: fixed;
  bottom: 0;
  margin-bottom: -2%;
  z-index: -1;
}

.hearts {
  position: absolute;
  width: 30%;
  top: 8%;
  left: 5%;
}

.word-love {
  font-family: "Sacramento", cursive;
  font-size: 15vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #d95988;
  position: absolute;
  top: 4%;
  right: 12%;
}

.word-letter {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 5vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  position: absolute;
  right: 15%;
  top: 26.86%;
}

.post {
  width: 300px;
  position: absolute;
  left: 8%;
  bottom: 11%;
}

.princess {
  width: 140px;
  position: absolute;
  top: 20%;
  left: 40%;
}

.play {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 2.5vw;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  border-radius: 60px;
  border: solid 5px #b3355f;
  background-color: #d95988;
  color: #fff;
  padding: 10px 35px;
  position: absolute;
  right: 20%;
  bottom: 17%;
  outline: none;
}

.play:hover {
  background-color: #b3355f;
}

.buttons {
  position: absolute;
  display: flex;
  flex-direction: row;
  bottom: 3%;
  left: 36%;
}

.bottom-buttons {
  width: 70px;
  height: 70px;
  border-radius: 60px;
  border: solid 5px #b3355f;
  background-color: #d95988;
  margin-left: 15px;
  text-align: center;
  outline: none;
}

.bottom-buttons:hover {
  background-color: #b3355f;
}

.bottom-img {
  text-align: center;
}

.btnFullScreen {
  width: 70px;
  height: 70px;
  border-radius: 60px;
  border: solid 5px #b3355f;
  background-color: #d95988;
  margin-left: 15px;
  text-align: center;
  outline: none;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  bottom: 3%;
  right: 4%;
}

.btnFullScreen img {
  height: 40px;
  width: 40px;
  object-fit: contain;
}

.btnFullScreen:hover {
  background-color: #b3355f;
}

.btnFullScreenE {
  width: 70px;
  height: 70px;
  border-radius: 60px;
  border: solid 5px #b3355f;
  background-color: #d95988;
  margin-left: 15px;
  text-align: center;
  outline: none;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  bottom: 3%;
  right: 10%;
}

.btnFullScreenE img {
  height: 40px;
  width: 40px;
  object-fit: contain;
}

.btnFullScreenE:hover {
  background-color: #b3355f;
}
