body {
  overflow: hidden;
}

.myplayer-card {
  background-color: #4f3162;
  border-radius: 30px;
  position: absolute;
  bottom: 13%;
  left: 10.5%;
  width: 25%;
  height: 35vh;
}

.time-icon {
  width: 70%;
  height: 3px;
  justify-content: center;
  align-items: center;
}

.time-icon img {
  width: 50px;
  height: 50px;
  position: relative;
  top: -10px;
}

.crown-container {
  width: 100%;
  height: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.crown-container img {
  width: 70px;
  height: 70px;
  position: relative;
  top: -52px;
  z-index: 5;
}

.name-hearts-container {
  background-color: #342642;
  width: 70%;
  border-radius: 20px;
  margin: 0 auto;
  height: 50px;
  position: relative;
  top: -25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name-hearts-container h4 {
  text-align: center;
  font-size: 24px;
  color: white;
  font-family: sans-serif;
  font-weight: normal;
  margin-top: 3px;
}

.hearts-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hearts-container img {
  margin: 0 3px;
  width: 15px;
}

.Board .player-card-last {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.Board .player-card-last .crown-container img {
  top: 30px;
}

.Board .player-card-last .name-hearts-container {
  top: 25px;
}

.Board .player-card-last .name-hearts-container h4 {
  margin-top: 0;
}

.Board .player-card-last .hearts-container {
  margin-top: 3px;
}

.right-corner-images {
  position: fixed;
  height: 40%;
  width: 30%;
  right: 15%;
  bottom: 5%;
  display: flex;
  align-items: center;
}

.right-corner-images img {
  width: 50%;
}

.right-corner-images img:nth-child(1) {
  transform: rotateZ(-5deg);
}

.right-corner-images img:nth-child(2) {
  transform: rotateZ(5deg);
}
