.robot {
    width: 15%;
    position: absolute;
    left: 14%;
    bottom: 12%;
}

.witch {
    width: 10%;
    position: absolute;
    right: 17%;
    bottom: 12%;
}

.background-vector {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    margin-bottom: -40px;
    z-index: -1;
}

.btn-return {
    width: 70px;
    height: 70px;
    border-radius: 60px;
    border: solid 0px #b3355f;
    background-color: #d95988;
    color: #fff;
    position: absolute;
    right: 10%;
    top: 4%;
}