body {
  overflow: hidden;
}


.player-card {
  background-color: #4f3b62;
  border-radius: 20px;
  width: 30%;
  padding: 15px;
  height: 35vh;
  z-index: 1;
}

.crown-container-player {
  width: 100%;
  height: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.crown-container-player img {
  position: relative;
  width: 60px;
  height: 70px;
  top: -65px;
  z-index: 5;
}

.name-hearts-container-player {
  position: relative;
  width: 70%;
  height: 50px;
  top: -45px;
  border-radius: 13px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #342642;
}

.name-hearts-container-player h4 {
  text-align: center;
  font-size: 20px;
  color: white;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: normal;
  margin-top: 3px;
}

.hearts-container-player {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hearts-container-player img {
  margin: 0 3px;
  width: 15px;
}
