.robot {
  width: 15%;
  position: absolute;
  left: 14%;
  bottom: 12%;
}

.witch {
  width: 10%;
  position: absolute;
  right: 17%;
  bottom: 12%;
}

.background-vector {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  margin-bottom: -40px;
  z-index: -1;
}
